# Dependencias locales
node_modules/
.pnpm-store/

# Variables de entorno con credenciales secretas
.env
src/config/firebase-keys.json

# Logs de errores de pnpm
pnpm-debug.log*

# Carpetas del editor
.vscode/